<!--&lt;!&ndash;h2数据源&ndash;&gt;<beans>-->
<!--<bean id="h2DataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
    <!--<property name="driverClassName" value="org.h2.Driver" />-->
    <!--&lt;!&ndash; where the db will be placed (created automatically) &ndash;&gt;-->
    <!--<property name="url" value="jdbc:h2:./db/test" />-->
    <!--<property name="username" value="sa" />-->
    <!--<property name="password" value="" />-->
<!--</bean>-->
        <!--&lt;!&ndash;主连接配置&ndash;&gt;-->
<!--<bean id="h2SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
<!--<property name="dataSource" ref="h2DataSource"/>-->
<!--&lt;!&ndash; 配置扫描Domain的包路径 &ndash;&gt;-->
<!--<property name="typeAliasesPackage" value="D:\java\bbb\src\main\java\com\example\bbb\pojo"/>-->
<!--&lt;!&ndash; 配置扫描Mapper XML的位置 &ndash;&gt;-->
<!--<property name="mapperLocations" value="classpath*:D:\java\bbb\src\main\resources\UserMapper.xml"/>-->
<!--&lt;!&ndash; 配置mybatis配置文件的位置 &ndash;&gt;-->
<!--<property name="configLocation" value="classpath:mybatis-config.xml"/>-->
<!--&lt;!&ndash; 注册类型转换器 &ndash;&gt;-->
<!--<property name="typeHandlers">-->
    <!--<list>-->
        <!--<ref bean="dateIntTypeHandler"></ref>-->
    <!--</list>-->
<!--</property>-->
<!--</bean>-->
        <!--&lt;!&ndash; 配置扫描Mapper接口的包路径 &ndash;&gt;-->
<!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
<!--<property name="sqlSessionFactoryBeanName" value="h2SqlSessionFactory" />-->
<!--<property name="basePackage" value="com.and1.test.dao.mapper"/>-->
<!--</bean>-->
<!--<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">-->
<!--<constructor-arg ref="h2SqlSessionFactory"/>-->
<!--</bean>-->

     <!--</beans>-->